.text-editor {
  border-radius: 5px;
  border: 1px solid rgb(229 231 235);
}
.menu-bar {
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  border-bottom: 1px solid rgb(229 231 235);
}
.menu-bar button {
  font-size: 18px;
  margin: 0.7rem;
  margin-right: 1.5rem;
  padding: 2px 3px;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}
.menu-bar button:hover {
  background: rgb(229 231 235);
}
.menu-bar .blockquote {
  display: none;
}
button.is-active {
  background: rgb(229 231 235);
  padding: 2px 3px;
  border-radius: 2px;
}
button svg {
  font-size: 15px;
  color: var(--text);
  font-weight: 400;
}
.ProseMirror {
  min-height: 30rem;
  max-height: 30rem;
  background-color: rgb(243 244 246);
  padding: 1.5rem;
  overflow: scroll;
  word-break: break-all;
}
.ProseMirror::-webkit-scrollbar {
  display: none;
}
.ProseMirror > * + * {
  margin-top: 0.75em;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror pre {
  font-size: 18px;
  background: rgb(243 244 246);

  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  white-space: pre !important;
  width: 100%;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgb(229 231 235);
  margin: 2rem 0;
}
.blockquote {
  display: none;
}

pre {
  font-size: 18px;
  background: red;

  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  overflow-x: auto;
  white-space: pre !important;
}
pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 1.8rem;
}
hr {
  border: none;
  border-top: 2px solid rgb(229 231 235);
  margin: 2rem 0;
}
li {
  font-size: 18px;
}
